h1 {
    text-align: center;
    color: white;
}

h2 {
    color: black;
}
hr {
    background-color: black;
    height: 3px;
    border: none;
}

#resposta {
    font-size: 24px;
    background: whitesmoke;
    border-radius: 10px;
    padding: 50px;
    width: 500px;
    margin: auto;
    text-align: justify;
}
body {
    background-color: #7E78D2;
}

footer {
    margin-top: 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: azure;
    font-size: 20px;
}
footer a:hover {
    text-decoration: none;
    color: orange;
    transition: 300ms;
}